
@import '../../assets/styles/_variables.scss';


.team-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
  
}

.team-card {
  padding: 30px;
  min-width: 200px;
  max-width: 400px;
  min-height: 200px;
  line-height: 2;
  letter-spacing: 2px;
  border: 3px solid var(--mainTheme-border);
}


@media  screen and (max-width: 800px) {


  .team-members {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .team-card {
    flex: 0 1 calc(40% - 20px); // Pour afficher 2 cartes par ligne sur les grands écrans
    margin: 10px;
    max-width: calc(40% - 20px); // Limiter la largeur pour éviter le débordement sur les petits écrans
  }
  
  @media (max-width: 768px) {
    .team-card {
      flex: 0 1 calc(90% - 20px); // Pour afficher 1 carte par ligne sur les petits écrans
      max-width: calc(90% - 20px); // Limiter la largeur pour éviter le débordement sur les petits écrans
    }
  }


}