.avatarImage:hover{
    transform: scale(1.2) !important;
    cursor: pointer;
}

.diplomaImage{
    max-height: 300px;
}

.diplomaImage:hover{
    transform: scale(0.95) !important;
    cursor: pointer;

}

