.app-logo {
  max-height: 70px !important;
}

.button {
  color: white !important;
  &--active {
    font-weight: bold !important;    
  }
}

.nav {
  background:#4462A5 !important;
}

@media screen and (max-width: 900px){
  .app-logo {
    max-height: 50px !important;
  }
}