.loginButton:hover{
  background-color: #768fd7 !important;
}

.loginAvatar{
  background-color: #4462A5 !important;
}

h2{
  text-align: center;

}
.parent-modal-description{
  padding: 1em;
  text-align: justify;
  
}