// *****************RESPONSIVE ************************/
@media  screen and (max-width: 730px) {
  .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  button {
    font-size: 0.8rem;
    text-decoration-style: none;
  }
  
}