.footer {
  background:#4462A5 !important;
  padding-top: 0 !important;
  padding-bottom: 10px !important;


  &-text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
  }

  &-link {
    color: white !important;  

    &--active {
      font-weight: bold !important;   
    }
  }
}

// ********************RESPONSIVE**********************************
@media screen and (max-width: 626px){
  .footer-text {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
  }
}